<% form_for @project do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <h3>Tasks</h3>
  <div class="children_fields tasks" id="<%= dom_id(f.object) %>_tasks" data-context="<%= f.object_name %>">
    <% f.fields_for :tasks do |task_form| %>
      <%= render :partial => 'task', :locals => { :f => task_form } %>
    <% end %>    
  </div>
  <p>
    <%= add_template_link("New Task", '#', Task, "##{dom_id(f.object)}_tasks") %>
    <%#= add_child_link "New Task", :tasks %>
  </p>
  <%#= new_child_fields_template(f, :tasks)%>
  <p><%= f.submit "Submit" %></p>
<% end %>

<%= 
task = Task.new(:name => "new task")
task.steps.build(:name => 'new')
assignment = task.assignments.build(:owner => 'new')
assignment.steps.build(:name => 'new')

new_fields_template(Task, :object => task, :partial => 'projects/task') %>

<%= new_fields_template(Assignment, :partial => 'projects/assignment') %>

<%= new_fields_template(Step, :partial => 'projects/step') %>

<%= yield :task_template %>
<%= yield :assignment_template %>
<%= yield :step_template %>
